.new-artical {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
}
.new-artical h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.new-artical .artical-title {
  margin-bottom: 20px;
}
.new-artical .artical-title input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}
.new-artical .artical-description {
  margin-bottom: 20px;
  height: 500px;
}
.new-artical .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.new-artical .footer-btn .cancel-btn,
.new-artical .footer-btn .add-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
  width: 40%;
  color: black;
  background-color: white;
  transition: background-color 0.3s ease;
}
.new-artical .footer-btn .cancel-btn {
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}
.new-artical .footer-btn .cancel-btn:hover {
  background-color: red;
  color: white;
}
.new-artical .footer-btn .add-btn {
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}
.new-artical .footer-btn .add-btn:hover {
  background-color: green;
  color: white;
}