* {
  margin: 0;
  padding: 0;
}

.user-profile-section {
  display: flex;
}
.user-profile-section .user_image {
  margin: 10px;
  background-color: white;
  width: 15%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.user-profile-section .user_image .user-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 150px;
}
.user-profile-section .user_image .user-info-p p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.user-profile-section .user-info {
  margin: 10px;
  background-color: white;
  height: 500px;
  width: 70%;
  border-radius: 10px;
  gap: 10px;
}
.user-profile-section .user-info .profile-header {
  padding: 20px;
  border-bottom: 1px solid black;
}
.user-profile-section .user-info .row {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-around;
}
.user-profile-section .user-info .row .row-items {
  display: flex;
}
.user-profile-section .user-info .row .row-items .icon {
  margin: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  background-color: gray;
  border-radius: 150px;
  color: white;
}
.user-profile-section .user-info .row .row-items .info .email {
  text-transform: lowercase;
}