.admin-student {
  height: calc(100vh - 72px);
  overflow: hidden;
}
.admin-student .admin-student-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.admin-student .admin-student-header .student-add-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.admin-student-table {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}