### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml

venv/
*.pyc
static/

*.db

# evn
.env
.env.*

# vscode
.vscode/*

# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# mac
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Thumbnails
._*

# videos or audios

*.mp4
*.mp3
*.wav
*.flv
*.avi
*.mov
*.wmv
*.rmvb
*.rm
*.mkv
*.flv
*.3gp
*.mid

# code
*.pyc
*.swp
*.swo
*.log
*.out
*.pid
*.pid.lock
*.vscode
*.vscode-test
*.vscode-test-*
*.vsix
*.nyc_output
*.nycrc
*.nycrc.json
*.nycrc.yaml
*.nycrc.yml
*.coverage

# excle or word or ppt cvs
*.xlsx
*.xls

