# 開発用の SECRET_KEY　本番環境用は djangoが用意されたものを使用
SECRET_KEY="2WbB13faOzYV|xSzIUG4JF1W3eLSjkQ?XgaESHJarH6ocYMMb2dI12zsj02Sw6FZ5JIFazYPZppkLMLl0v4sjQxVt2IxKA9m65eU"

#メール設定
EMAIL_IMAP_USERNAME="applicationcheckemail@gmail.com"
EMAIL_IMAP_PASSWORD="egjlvuzxwysurwuq"

# データベースのHOSTはロカル環境の場合はlocalhost 全てDocker環境の場合はdatabase

# DB_HOST="database"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="root"
DB_NAME="school_db"

# 開発モードの場合はTrue 本番環境の場合はFalse
# DEVELOPMENT_MODE=False

DEVELOPMENT_MODE=True

# ローカル環境の場合はlocalhost 本番環境の場合はドメイン名
SERVER_NAME="localhost"