SECRET_KEY="django-insecure-v(9^^+v9w)bbl#4!jd5@z-77$_$_*x_&%(*py#^gsb%wfi4ozq"
EMAIL_IMAP_USERNAME="applicationcheckemail@gmail.com"
EMAIL_IMAP_PASSWORD="egjlvuzxwysurwuq"

DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="root"
DB_NAME="school_db"

DEVELOPMENT_MODE=True
