.chat__system {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease; /* Add smooth transition */
}

.chat__list {
  height: calc(100% - 150px);
  border-right: solid 2px gray;
  overflow-y: scroll;
  transition: width 0.3s ease; /* Add smooth transition */
}

.chat__details {
  overflow: hidden;
  top: 70px;
  height: calc(100% - 140px);
  transition: width 0.3s ease; /* Add smooth transition */
}