
.file-manager__folder{
    .folder_creaet_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-bottom: solid 2px gray;
        height: 65px;

        h2{
            font-size: 20px;
            font-weight: 600;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(221, 231, 238);
            width: auto;
            color: rgb(25, 19, 193);
            border: none;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: white;
                background-color: #201dc2;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }


    }


    .folder__items-container {
        height: calc(100vh - 135px);
        overflow-y: auto; 
      }
      
      



    .folder__items{
        overflow-y: scroll;
        padding: 4px;
        border: solid 1px gray;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #f1f1f1;
        }
     

       

        .folder_icons__name{
            display: flex;
            gap: 10px;

            .folder_image{
                height: 60px;
                width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 8px;

                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                }
                
            }
            .folder__info{
                
                h3{
                    font-size: 20px;
                    font-weight: 600;
                }
                strong{
                    font-size: 15px;
                    font-weight: 400;
                    color: gray;
                }
            }

        }

        .other-action{
            display: flex;
            flex-direction: column;
            font-size: 30px;
            color: #201dc2;


            button{
                background-color: white;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: black;
                }

            }
            .more{
                font-size: 20px;
                color: #201dc2;
            }
            .folder-delete{
                font-size: 20px;
                color: red;
            }

        }
        
    }

}


.selected__folder_items{
    background-color: #bf9ec8;
    
}




// more menu pupup
.file-modal {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    position: fixed; /* Ensure it covers the entire viewport */
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background overlay */
  }
  
  .modal__content {
    width: 400px;
    height: 200px;
    max-width: auto; /* Set a max-width for better readability */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Make the content scrollable */
    /* height: 90vh; /* You can remove this line if you don't want to limit the height */
  }
  
  

  
  .delete__popup{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    // position: fixed; /* Ensure it covers the entire viewport */
    top: 0;
    left: 0;
  }

  .delete__icon{
    padding: 10px;
    font-size: 30px;
    color: rgb(143, 243, 160);
    background-color: red;
    border-radius: 150px;
  }


  h2{
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
  }

  .delete__popup__btn{
    display: flex;
    gap: 10px;

    .cancle-btn{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(221, 231, 238);
        width: 100px;
        color: rgb(25, 19, 193);
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: white;
            background-color: #201dc2;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

    
    }

    .delete-btn{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        width: 100px;
        color: white;
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: red;
            background-color: white;
            border: solid red 1px;
    }
}

    
  }



// more menu pupup
.rename_folder_model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); 
  }
  
  .rename___model{
    width: 400px;
    height: 200px;
    max-width: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }



  .folder__rename{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2{
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
    }

    .input__foldername{

        input{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: solid 1px rgb(221, 231, 238);
            outline: none;
            margin-bottom: 10px;
        }

    }


    .cancle_btn_submit_btn{
        display: flex;
        gap: 10px;

        .rename-cancle{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            width: 100px;
            color: white;
            border: none;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: black;
                background-color: white;
                border: solid 1px red;
            }
        }

        .rename-save{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(221, 231, 238);
            width: 100px;
            color: rgb(25, 19, 193);
            border: none;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: white;
                background-color: #201dc2;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }


    }

    .rename__btn{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(221, 231, 238);
        width: 100px;
        color: rgb(25, 19, 193);
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: white;
            background-color: #201dc2;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
  }


  .create__folder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2{
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
    }

    .input__foldername{

        input{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: solid 1px rgb(221, 231, 238);
            outline: none;
            margin-bottom: 10px;
        }

    }

    .cancle_btn_submit_btn{
        display: flex;
        gap: 10px;

        .create-cancle{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            width: 100px;
            color: white;
            border: none;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: black;
                background-color: white;
                border: solid 1px red;
            }
        }

        .create-save{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(221, 231, 238);
            width: 100px;
            color: rgb(25, 19, 193);
            border: none;
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: white;
                background-color: #201dc2;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
  }