.settings {
  width: 100%;
  height: calc(100vh - 72px);
  background-color: white;
}

.setting-menu {
  height: 70px;
}
.setting-menu .setting-menu-items {
  padding: 20px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 1px black;
}
.setting-menu .setting-menu-items li {
  list-style: none;
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.setting-menu .setting-menu-items li:hover {
  color: rgb(152, 154, 251);
}
.setting-menu .setting-menu-items .act-menu {
  color: rgb(222, 119, 245);
  border-bottom: solid 1px blue;
}

.setting-profile {
  margin-left: 50px;
  margin-right: 50px;
  height: 70px;
  border-bottom: solid 1px blueviolet;
  display: flex;
  justify-content: space-between;
}
.setting-profile .profile-header h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.setting-profile .profile-header p {
  font-size: 15px;
  font-weight: bold;
}
.setting-profile .save-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-profile .save-button button {
  width: auto;
  padding: 10px;
  height: 40px;
  background-color: rgb(152, 154, 251);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-profile .save-button button:hover {
  background-color: white;
  border: solid 2px black;
  color: black;
}

.profile-form {
  margin-left: 50px;
  margin-right: 50px;
}
.profile-form .user-name {
  display: flex;
  gap: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: solid green 1px;
}
.profile-form .user-name label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}
.profile-form .user-name .input-filds {
  width: 60%;
  height: 45px;
}

.update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.update-button button {
  width: auto;
  padding: 20px;
  height: 40px;
  background-color: rgb(66, 68, 193);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.update-button button:hover {
  background-color: rgb(145, 212, 219);
  color: black;
}

.from {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-email {
  margin-left: 50px;
  margin-right: 40px;
  width: 800px;
  padding: 50px;
}
.password-email label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}
.password-email input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.password-email .error-message-list {
  padding: 20px;
}
.password-email .error-message-list .success-message {
  color: red;
  font-weight: bold;
  background-color: rgb(89, 72, 185);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.password-email .error-message-list .error-message {
  color: red;
  font-size: 15px;
  font-weight: bold;
}
.password-email .error-message-list .success {
  color: rgb(44, 237, 83);
  font-weight: bold;
  background-color: rgb(89, 72, 185);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}/*# sourceMappingURL=setting.css.map */