.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  background-color: #c5c8d4;
}
.custom-toolbar .toolbar-navigation {
  margin-top: 10px;
}
.custom-toolbar .toolbar-navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.custom-toolbar .toolbar-navigation button:hover {
  background-color: #ddd;
}
.custom-toolbar .toolbar-navigation .toolbar-label {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  padding: 10px 20px;
}
.custom-toolbar .toolbar-views button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  font-size: 15px;
  color: #333;
}
.custom-toolbar .toolbar-views button.active {
  background-color: #333;
  color: #fff;
}
.custom-toolbar .toolbar-views button:hover {
  background-color: #ddd;
}