// CustomToolbar component styles
.custom-toolbar {

  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #9399b0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
  
    .toolbar-navigation {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
  
        &:hover {
          background-color: #ddd;
        }
      }

      .toolbar-label {
        font-size: 17px;
        font-weight: bold;
        color: #333;
        padding: 10px 20px;

      }
    }
  
    .toolbar-views {

        .time-weather{
            margin-left: 100px;
            display: flex;
            gap: 10px;


            .time{
        
                p{
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                    
                }

                small{
                    font-size: 15px;
                    font-weight: bold;
                    color: rgb(199, 79, 201);
                    opacity: 0.5;
                }
            }
            .weather{
                float: right;
        
    

                span{
                    font-size: 45px;
                    font-weight: bold;
                    color: #537ee1;
                }
            }
        }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 15px;
        color: #333;
  
        &.active {
          background-color: #333;
          color: #fff;
        }
  
        &:hover {
          background-color: #ddd;
        }
      }
    }
  
    
  }
  