.container {
  display: flex;
  height: calc(100vh - 60px);
  background-color: rgb(213, 231, 240);

  .left {
    padding: 15px 0 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    gap: 10px;

    .left__header {
      display: flex;
      height: 50%;
      width: 100%;
      background-color: white;
      border-radius: 10px;

      .left_header__section {
        background-color: rgb(223, 141, 41);
        width: 10px;
        height: 100%;
      }

      .right_header_section {
        flex-grow: 1;
      }
    }

    .left__buttom {
      height: 50%;
      display: flex;
      width: 100%;
      gap: 20px;
      background-color: white;
      border-radius: 10px;

      .left_buttom__section {
        background-color: rgb(67, 6, 179);
        width: 10px;
        height: 100%;
      }

      .right_buttom_section {
        flex-grow: 1;
      }
    }
  }

  .center {
    flex: 0 0 35%;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    gap: 10px;

    .center_header {
      display: flex;
      height: 50%;
      width: 100%;
      gap: 10px;
      background-color: white;
      border-radius: 10px;

      .center_header_left__section {
        background-color: rgb(202, 22, 142);
        width: 10px;
        height: 100%;
      }
      
      .center_header_right_section {
        overflow: auto;
        flex-grow: 1;
        width: 100%;

        h1{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #737070;
          margin: 10px;
        }
      }
    }

    .center__buttom {
      height: 50%;
      display: flex;
      width: 100%;
      gap: 20px;
      background-color: white;
      border-radius: 10px;

      .center_buttom_left__section {
        background-color: rgb(26, 212, 60);
        width: 10px;
        height: 100%;
      }

      .center_buttom_right_section{

        h1{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #737070;
          margin: 10px;
        }
      }
    }
  }

  .right {
    flex: 0 0 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    margin: 20px;
  }
}


@media (max-width: 992px) {
  .container {
    flex-direction: column;
    scrollbar-width: 10;
    overflow: auto;
    .center {
      padding: 10px 0px 10px 10px;
      flex: 50%;
    }
    .right {
      flex: 100%;
    }
  }
}
