.student-details .top-bar-view {
  margin-left: 20px;
  height: 140px;
  width: 97%;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.student-details .top-bar-view .student-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.student-details .top-bar-view .student-profile .student-image img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.student-details .top-bar-view .student-profile .student-info {
  margin-top: 30px;
}
.student-details .top-bar-view .student-profile .student-info h1, .student-details .top-bar-view .student-profile .student-info p {
  margin: 0;
  font-weight: bold;
}
.student-details .button {
  margin-top: 90px;
}
.student-details .button button {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.student-details .button button i {
  margin-right: 10px;
}
.student-details .other-info {
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 97%;
  height: 430px;
  border-radius: 10px;
  display: flex;
}
.student-details .other-info .general-info {
  margin: 20px;
  margin-right: 40px;
  margin-left: 30px;
}
.student-details .other-info .general-info h3 {
  margin: 0;
  color: gray;
  font-weight: bold;
}
.student-details .other-info .general-info h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.student-details .other-info .gender-info {
  margin: 20px;
  margin-right: 40px;
}
.student-details .other-info .gender-info h3 {
  margin: 0;
  color: gray;
  font-weight: bold;
}
.student-details .other-info .gender-info h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.student-details .other-info .gender-info a {
  font-weight: bold;
  font-size: 24px;
}
.student-details .other-info .address-info {
  margin: 20px;
  margin-right: 40px;
}
.student-details .other-info .address-info h3 {
  margin: 0;
  color: gray;
  font-weight: bold;
}
.student-details .other-info .address-info h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.student-details .other-info .parent-info {
  margin: 20px;
  margin-right: 30px;
}
.student-details .other-info .parent-info h3 {
  margin: 0;
  color: gray;
  font-weight: bold;
}
.student-details .other-info .parent-info h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.student-details .other-info .parent-info a {
  font-weight: bold;
  font-size: 24px;
}