$color_1: black;
$color_2: #009879;
$font-family_1: sans-serif;
$background-color_1:  #f5f5f5;
$background-color_2: #f3f3f3;

* {
	font-family: $font-family_1;
}

.exam-list{
    height: 540px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;

.content-table {
	border-collapse: collapse;
	font-size: 0.9em;
	width: 100%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	thead {
		tr {
			border-bottom: solid 1px black;
			color: $color_1;
			text-align: left;
			font-weight: bold;
            font-size: 18px;
		}
	}
	th {
		padding: 12px 15px;
        height: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	}
	td {
		padding: 20px 20px;
        font-weight: 600;
        font-weight: 15px;


	}
	tbody {
		a{
			text-decoration: none;
			display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

		}

		tr {
			border-bottom: 1px solid #dddddd;
			&:nth-of-type(even) {
				background-color: $background-color_2;
			}
			&:last-of-type {
				border-bottom: 2px solid #009879;
			}

			.active {
				color: green; 
				font-size: 18px;
				font-weight: bold;
			  }
			  
			  .inactive {
				color: red;
				font-size: 18px;
				font-weight: bold;
			  }
			  
		}
		
	}
}
}