.assigemnt-submission {
  overflow: hidden;
}
.assigemnt-submission body {
  font-family: Arial, Helvetica, sans-serif;
}
.assigemnt-submission * {
  box-sizing: border-box;
}

.assigment-section {
  background-color: rgb(218, 227, 232);
  height: calc(100vh - 80px);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.assigment-section .assigment-details-forms {
  width: 80%;
  z-index: 10;
  position: fixed;
  overflow-y: auto;
  max-height: 100%;
}
.assigment-section .assigment-body {
  width: 80%;
  min-height: calc(100vh - 200px);
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assigment-section .assigment-body label {
  width: 100%;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.assigment-section .assigment-body input {
  width: 80%;
  font-weight: 600;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.assigment-section .assigment-body input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
.assigment-section .assigment-body .short-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.assigment-section .assigment-body .short-form .assigemnt-type,
.assigment-section .assigment-body .short-form .assigemnt-deadline {
  width: 40%;
}
.assigment-section .assigment-body .editor {
  border: solid gray 1px;
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto !important;
  background-color: white;
}
.assigment-section .assigment-body .assignment-question {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.assigment-section .assigment-body .assignment-question .item {
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 rgba(156, 127, 127, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.assigment-section .assigment-body .update-btn {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.assigment-section .assigment-body .update-btn button {
  margin-top: 20px;
  width: 200px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.assigment-section .assigment-body .update-btn button:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .assigment-section .assigment-body {
    width: 100%;
    margin-right: 100px;
  }
}

.assigment-submit-table {
  margin-top: 70px;
  width: 80%;
  background-color: white;
  min-height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 1100px) {
  .assigment-submit-table {
    width: 100%;
  }
}/*# sourceMappingURL=AssigmentDetalis.css.map */