.assignment-form {
  margin-left: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.assignment-form label {
  font-weight: bold;
  font-size: 20px;
}
.assignment-form input[type=text],
.assignment-form select {
  width: 96%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
.assignment-form textarea {
  width: 96%;
  height: 100px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
.assignment-form .sort-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Media query for small screens */
}
.assignment-form .sort-form .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto/auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
}
.assignment-form .sort-form .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}
.assignment-form .sort-form .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
}
.assignment-form .sort-form button {
  margin-top: 10px; /* Adjust as needed */
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.assignment-form .sort-form button:hover {
  background-color: #45a049;
}
@media (max-width: 800px) {
  .assignment-form .sort-form .form-row {
    flex-direction: column;
  }
  .assignment-form .sort-form .form-row label,
  .assignment-form .sort-form .form-row select,
  .assignment-form .sort-form .form-row input[type=number],
  .assignment-form .sort-form .form-row input[type=time] {
    flex-basis: 100%;
  }
}

.assigment_question_area {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn button[type=button] {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.btn button[type=submit] {
  background-color: rgb(17, 43, 239);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.remove-question {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.remove-question button {
  background-color: rgb(239, 17, 28);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.add_more_filds {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.add_more_filds button {
  background-color: rgb(17, 43, 239);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}/*# sourceMappingURL=AssigmentCreate.css.map */