.class-details-container {
  height: calc(100vh - 72px);
  overflow: hidden;
}

.class-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid gray 2px;
  height: 50px;
}
.class-header .back {
  background-color: rgb(216, 82, 216);
  margin-top: 15px;
  margin-left: 20px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  border-radius: 50%;
}
.class-header .back:hover {
  background-color: rgb(43, 146, 142);
  transform: scale(1.1);
}
.class-header h3 {
  margin-left: 20px;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 25px;
}
.class-header p {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  font-size: 20px;
}

.card-item {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.card-item .card {
  margin: 10px;
  height: 80px;
  width: 19%;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 7px;
  cursor: pointer;
  border: solid gray 1px;
  transition: all 0.5s ease-in-out;
}
.card-item .card:hover {
  transform: scale(1.1);
}
.card-item .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(215, 207, 207);
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
}
.card-item .card .card-body button {
  outline: none;
  border: none;
  background-color: transparent;
}
.card-item .card .card-body h4 {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-item .card .card-body p {
  font-size: 15px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-item .card-attdance {
  margin: 10px;
  height: 80px;
  width: 19%;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 7px;
  cursor: pointer;
  border: solid gray 1px;
  transition: all 0.5s ease-in-out;
}
.card-item .card-attdance:hover {
  transform: scale(1.1);
}
.card-item .card-attdance .link-to-attdance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}
.card-item .card-attdance .link-to-attdance .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(215, 207, 207);
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
}
.card-item .card-attdance .link-to-attdance .card-body .link-styles {
  text-decoration: none;
  color: black;
}
.card-item .card-attdance .link-to-attdance .card-body h4 {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-item .card-attdance .link-to-attdance .card-body p {
  font-size: 15px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 20px;
}
.all-btn .assigemnt-btn {
  width: 200px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.all-btn .assigemnt-btn:hover {
  transform: scale(1.1);
}
.all-btn .test-btn {
  width: 200px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.all-btn .test-btn:hover {
  transform: scale(1.1);
}
.all-btn .survey-btn {
  width: 200px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.all-btn .survey-btn:hover {
  transform: scale(1.1);
}
.all-btn .course-contant-btn {
  width: 200px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.all-btn .course-contant-btn:hover {
  transform: scale(1.1);
}
.all-btn .menu-active {
  background-color: rgb(43, 146, 142);
  color: white;
}

.main-section {
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  overflow-y: auto;
}
.main-section .main-element {
  width: 100%;
  min-height: 100px;
  max-height: 270px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1500px) {
  .main-section .main-element {
    max-height: 450px;
  }
}

.model {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 70%;
  max-width: 900px; /* Set a max-width for better readability */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Make the content scrollable */
  max-height: 80vh; /* Limit the max height of the content to 80% of the viewport height */
}

.exam-model {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-content-exam {
  width: 70%;
  max-width: 900px; /* Set a max-width for better readability */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Make the content scrollable */
  max-height: 80vh;
}

.upload-pdf-model {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%;
}

.pdf-modal-content {
  width: 50%;
  max-width: 900px; /* Set a max-width for better readability */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Make the content scrollable */
  max-height: 80vh;
}/*# sourceMappingURL=classdetals.css.map */