.course-materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-contant-header {
  background-color: white;
  border-bottom: solid 1px black;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.course-contant-header h2 {
  font-weight: bold;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.materialse-body {
  width: 100%;
  background-color: white;
  height: 472px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ebebeb;
}

.course-contant-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 40px;
  text-align: center;
  /* Add the following code to alternate background colors */
}
.course-contant-body:nth-child(even) {
  background-color: #f5f5f5; /* Use your color variable or actual color value */
}
.course-contant-body:nth-child(odd) {
  background-color: white; /* Use your color variable or actual color value */
}
.course-contant-body .file-name {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.course-contant-body .file-name .delete-icons {
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.course-contant-body .file-name .delete-icons:hover {
  color: red;
}
.course-contant-body .file-name p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 10px;
}
.course-contant-body .download-button {
  float: right;
}
.course-contant-body .download-button a {
  margin-top: 1px;
  border: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
.course-contant-body .download-button a .view-icons {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.course-contant-body .download-button a .view-icons:hover {
  color: red;
}

.form {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form p {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  padding-bottom: 20px;
}
.form .file-input {
  margin: 20px;
  min-height: 150px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border: dashed 1px #333;
  background-color: white;
  border-radius: 10px;
}
.form .file-input .file-icon {
  font-size: 50px;
  color: #333;
}
.form .file-input span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.form .file-input span strong {
  color: red;
}

.file-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.file-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: solid gray 1px;
  border-radius: 5px;
  gap: 20px;
}
.file-list li p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}
.file-list li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.file-list li button .remove-btn {
  font-size: 30px;
  font-weight: bold;
  color: red;
  cursor: pointer;
  margin-right: 10px;
}

.error p {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.fotter-butt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.fotter-butt .cancel-btn {
  min-width: 100px;
  width: auto;
  padding: 10px;
  background-color: white;
  color: black;
  border: solid black 1px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.fotter-butt .cancel-btn:hover {
  transform: scale(1.1);
  background-color: red;
  color: white;
  border: none;
}
.fotter-butt .upload-btn {
  min-width: 100px;
  width: auto;
  padding: 10px;
  background-color: white;
  color: black;
  border: solid black 1px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.fotter-butt .upload-btn:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}