.login-container {
  all: initial;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #2A71B9;
}

.login-form {
  margin: 50px;
  padding: 20px;
  background-color: #ffffff;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}
.login-form .user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form .univerity-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form .univerity-info img {
  width: 100px;
  height: 150px;
}
.login-form .univerity-info h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.login-form .univerity-info p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.login-form input[type=text],
.login-form input[type=password] {
  width: 45%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #e5e1e1;
  border-radius: 150px;
  resize: vertical;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
  border: 1px solid #2A71B9;
}
.login-form .forgot-password-login {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.login-form a {
  text-decoration: none;
  color: gray;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 18px;
}
.login-form a:hover {
  color: black;
  text-decoration: underline;
}
.login-form button {
  width: 100%;
  padding: 13px;
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 150px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
}
.login-form button:hover {
  background-color: #2A71B9;
  color: white;
  border: none;
}
@media only screen and (max-width: 742px) {
  .login-form {
    width: 90%;
  }
}
@media screen and (max-width: 555px) {
  .login-form {
    margin: 10px;
  }
  .login-form input[type=text],
  .login-form input[type=password] {
    width: 90%;
  }
  .login-form .forgot-password-login {
    width: 90%;
  }
}

.other-image {
  height: 100%;
  width: 50%;
  position: relative;
  background-image: url("../components/images/mainimg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.other-image .help-button {
  position: absolute;
  bottom: 50px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
}
.other-image .help-button button {
  width: 100%;
  padding: 13px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
}
.other-image .help-button button:hover {
  background-color: #af4fd5;
  color: white;
  border: none;
}
@media only screen and (max-width: 742px) {
  .other-image {
    display: none;
  }
}/*# sourceMappingURL=login.css.map */