SECRET_KEY=${SECRET_KEY}
EMAIL_IMAP_USERNAME=${EMAIL_IMAP_USERNAME}
EMAIL_IMAP_PASSWORD=${EMAIL_IMAP_PASSWORD}

DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}
DB_NAME=${DB_NAME}

DEVELOPMENT_MODE=${DEVELOPMENT_MODE}
