.collaborator_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collaborator_list_item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .user-av {
            margin-right: 5px;
        }
    }

    .remove-col {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        .remove-icon {
            font-size: 1.5rem;
            color: white;
        }

        &:hover {
            background-color: darkred;
        }
    }
}


.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

    .h3_col{
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

}