.nav-bar {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    border-bottom: solid gray 1px;
    overflow: hidden;
  
    .nav-left {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .node-ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
  
        li {
          list-style: none;
          height: 50px;
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
  
          &:hover {
            color: darkblue;
          }
  
          &.note-active {
            color: blue;
            font-weight: bold;
            border-radius: 5px;
          }
          .icon{
            margin-top: 3px;
            justify-content: center;
            align-items: center;

          }

          
  
          span {
            margin-left: 4px;
          }
        }
      }
    }
  
    .add-note-btn {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease-in-out;
      margin-right: 50px;
  
      &:hover {
        background-color: #2980b9;
      }
  
      .add-icon {
        font-size: 24px;
        margin-right: 8px;
      }
  
      span {
        font-size: 16px;
      }
    }
  }
  
  .note-body {
    background-color: rgb(247, 241, 241);
    height: calc(100vh - 142px); 
    overflow-y: scroll;

    
  }
  