.playear {
  display: flex;
  gap: 10px;
  height: calc(100vh - 80px);
}
.playear .video {
  margin-top: 50px;
  width: 70%;
  height: 90%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}
.playear .video .video-discraption {
  display: flex;
  background-color: white;
  height: 30%;
}
.playear .video .video-discraption .userprofile {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  margin: 10px;
}
.playear .video .video-discraption .userprofile img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
}
.playear .video .video-discraption .video-info {
  width: calc(100% - 70px); /* Adjust width to fit remaining space after the image */
  overflow-y: auto;
}
.playear .video .video-discraption .video-info h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
}
.playear .video .video-discraption .video-info h3 small {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  line-height: normal;
}
.playear .video .video-discraption .video-info p {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}
.playear .comment {
  margin-top: 50px;
  background-color: white;
  width: 30%;
  height: 90%;
  overflow: hidden;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}
.playear .comment .comment-box {
  padding-top: 10px;
  padding-left: 10px;
  height: 700px;
  overflow-y: auto;
}
.playear .comment .comment-box .comment-list {
  display: flex;
}
.playear .comment .comment-box .comment-box-img {
  width: 50px;
  height: 50px;
}
.playear .comment .comment-box .comment-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Make it circular */
}
.playear .comment .comment-box .comment-box-text {
  margin-left: 10px;
  margin-bottom: 5px;
  min-height: 60px;
  height: auto;
  width: calc(100% - 70px);
}
.playear .comment .comment-box .comment-box-text h3 {
  font-size: 20px;
  font-weight: 600;
}
.playear .comment .comment-box .comment-box-text p {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
@media (max-width: 1400px) {
  .playear {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .playear .video {
    width: 88%;
  }
  .playear .comment {
    width: 88%;
    min-height: 200px;
  }
}

.comment-input {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.comment-input input {
  background-color: rgb(227, 231, 238);
  margin-left: 10;
  border-top: solid black 1px;
  width: 100%;
  outline: none;
  padding: 10px;
  height: 50px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 400;
}
.comment-input input::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.css-button-fully-rounded--sand {
  min-width: 130px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #adb5bd;
  background: #adb5bd;
  font-size: 20px;
}

.css-button-fully-rounded--sand:hover {
  background: #fff;
  color: #adb5bd;
}