.admin-teacher {
  overflow: hidden;
  height: calc(100vh - 72px);
}
.admin-teacher .admin-teacher-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.admin-teacher .admin-teacher-header .admin-student-search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}
.admin-teacher .admin-teacher-header .admin-student-search input {
  border: none;
  outline: none;
}
.admin-teacher .admin-teacher-header .add-new-teacher {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.admin-student-table .MuiTableContainer-root {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

.TableHead {
  background-color: #f5f5f5; /* Light grey header */
}

.TableRow:hover {
  background-color: #e0e0e0; /* Light hover effect */
}

.TableCell {
  font-family: Arial, sans-serif; /* Custom font */
  font-size: 16px; /* Bigger font size */
}

.action-btn Button {
  margin-right: 10px;
}