
.container {
    margin-left: 10px;
    display: flex;
    height: calc(100vh - 72px);




    @media screen and (max-width: 1000px) {
        .container{
            margin-top: 0px;
            flex-direction: row;
        }
        
    }

    .left-item{
        width: 75%;
        background-color: #f0f0f0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        top: 0;
    


  
    .dashboard-cards {
      display: flex;
      gap: 10px;


      .assigemnt-deadeline{
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        width: 29.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
     


      }
  
      .card {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        width: 29.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    .chart-section-one{
        margin-top: 20px;
        display: flex;
        gap: 10px;
        // flex-wrap: wrap;

        .chart-item-big{
            height: 280px;
            width: 60%;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .chart-item{
            height: 200px;
            width: 32%;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
    .dashbord-section-two{
      margin-top: 20px;
        display: flex;
        gap: 10px;


        .dashbord-announcement{
          height: 300px;
          width: 60%;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          overflow-y: auto;

          p{
            font-size: 18px;
            font-weight: bold;
            padding: 5px;
          }
      }
      .chart-item{
          height: 200px;
          width: 32%;
          background-color: white;
          border-radius: 5px;
          padding: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
    }
}

.right-item{
    background-color: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 25%;


    .event-top{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

       
    
    }
    .calender-basic{
      background-color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 15px;

    }
    .subject-list{
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 220px;
      overflow-y: scroll;
      ::-webkit-scrollbar {
        width: 5px;
      }

      
      
    }

    .event-list{
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 210px;
      overflow-y: scroll;
      ::-webkit-scrollbar {
        width: 5px;
      }

    }



}




  }
  