
.container {
    margin-left: 10px;
    display: flex;
    // height: -webkit-fill-available;
    height: calc(100vh - 72px);
    overflow: hidden;

    .left-item{
        width: 75%;
        background-color: #c6dbdc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        top: 0;
    


  
    .dashboard-cards {
      display: flex;
      gap: 10px;


      .assigemnt-deadeline{
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        width: 29.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
     


      }
  
      .card {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        width: 29.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    .chart-section-one{
        margin-top: 20px;
        display: flex;
        gap: 10px;

        .chart-item-big{
            height: auto;
            width: 60%;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .calender-item{
            height: auto;
            width: 32%;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
    .dashbord-section-two{
      margin-top: 20px;
        display: flex;
        gap: 10px;


        .dashbord-announcement{
          height: auto;
          width: 60%;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          overflow-y: auto;

          p{
            font-size: 18px;
            font-weight: bold;
            padding: 5px;
          }
      }
      .chart-item{
          height: auto;
          min-height: 300px;
          width: 32%;
          background-color: white;
          border-radius: 5px;
          padding: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
    }
}

.right-item {
  background-color: #c6dbdc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 25%;
  padding: 10px;

  .subject-list{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow-y: auto;
    height: 43%;

    p{
      font-size: 18px;
      font-weight: bold;
      padding: 5px;
    }

      // desktop only media 
      @media screen and (min-width: 1500px) {
        max-height: 46%;
    }

  }
  .event-list{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 43%;
    margin-bottom: 15px;


    p{
      font-size: 18px;
      font-weight: bold;
      padding: 5px;
    }

       // desktop only media 
       @media screen and (min-width: 1500px) {
        max-height: 46%;
    }
  }


}
  }
  