.container {
  display: flex;
  height: calc(100vh - 72px);
  overflow: hidden;
}
.container .left-item {
  width: 75%;
  background-color: #c6dbdc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  padding: 5px;
}
.container .left-item .dashboard-cards {
  display: flex;
  gap: 10px;
}
.container .left-item .dashboard-cards .assigemnt-deadeline {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 29.5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container .left-item .dashboard-cards .card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 29.5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container .left-item .dashboard-cards .card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.container .left-item .dashboard-cards .card p {
  font-size: 24px;
  font-weight: bold;
}
.container .left-item .chart-section-one {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.container .left-item .chart-section-one .chart-item-big {
  height: auto;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container .left-item .chart-section-one .calender-item {
  height: auto;
  width: 32%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container .left-item .dashbord-section-two {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.container .left-item .dashbord-section-two .dashbord-announcement {
  height: auto;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.container .left-item .dashbord-section-two .dashbord-announcement p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
.container .left-item .dashbord-section-two .chart-item {
  height: auto;
  min-height: 300px;
  width: 32%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container .right-item {
  background-color: #c6dbdc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 25%;
  padding: 10px;
}
.container .right-item .subject-list {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  overflow-y: auto;
  height: 43%;
}
.container .right-item .subject-list p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
@media screen and (min-width: 1500px) {
  .container .right-item .subject-list {
    max-height: 46%;
  }
}
.container .right-item .event-list {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 43%;
  margin-bottom: 15px;
}
.container .right-item .event-list p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
@media screen and (min-width: 1500px) {
  .container .right-item .event-list {
    max-height: 46%;
  }
}