.admin-course {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	overflow: hidden;
}

.admin-course-list thead {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.admin-course-list thead th {
	font-weight: bold;
}
