
.exam-details-container{
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: calc(100vh - 72px);

    .exam-body{
        width: 80%;
        z-index: 10;
        position: fixed;
        overflow-y: auto;
        max-height: 100%;

        .exam-details{
    background-color: white;

        overflow-y: auto;



            .col{
                display: flex;
                gap: 10px;
                width: 100%;
                margin-bottom: 20px;

                .row{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 70%;

                    input{
                        width: 70%;
                        height: 40px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        padding: 10px;
                        font-size: 16px;
                        resize: vertical;
                    }
                
                }
            }


            .editer{
                width: 100%;
                padding: 10px;
                font-size: 16px;
                resize: vertical;
            }

            .update-bnt{
                // float: right;
                padding: 10px;
                font-size: 16px;
                color: white;
                cursor: pointer;
                margin-bottom: 20px;


                button{
                    background-color: white;
                    border: solid black 1px;
                    width: 100px;
                    border-radius: 5px;
                    color: black;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;


                    &:hover{
                        background-color: black;
                        color: white;
                    }
                
                }

            }

         
            
        }

    
    }


    .questions-section{
        margin-bottom: 100px;

        .items{
            padding: 20px;
            margin-bottom: 40px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19); /* Adding box shadow */
      
        }
        
    }



  }


  .exma-submission-table{
    margin-top: 70px;
    width: 80%;
    background-color: white;
    min-height: 300px;
    border-radius: 5px;
    overflow: hidden;

  }